@import "tailwindcss";
/* 
@font-face {
  font-family: Freigeist;
  src: url("/frontend/src/assets/freigeist.otf");
} */

@font-face {
  font-family: Linear;
  src: url("/frontend/src/assets/linear.otf");
}

/* @theme {
  --font-freigeist: Freigeist, "sans-serif";
} */
@theme {
  --font-linear: Linear, "sans-serif";
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
}

body {
  background-color: rgb(32, 31, 31);
  color: #fff;
  
}

.navbar {
  padding: 1.2rem;
  font-size: 1.2rem;
}

.next-level-txt {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.job {
  margin: 0.5rem 0.4rem;
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #2a7b9b, #57c785, #eddd53);
  background-size: 200% auto;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: background-position 0.5s, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.worker {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
   margin: 0.5rem 0.4rem;
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: #fff;
  background-size: 200% auto;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: background-position 0.5s, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.worker-section{
  background-color: rgb(33, 75, 70); 
}

body {
    overflow-x: hidden;

  position: relative;
  background-color: #201f1f; /* Dark base */
  isolation: isolate; /* Helps with blending */
}

body::before {
  content: "";
  position: absolute;
  top: -100px;
  right: -100px;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(73, 46, 148, 0.5) 0%,
    rgba(73, 46, 148, 0) 70%
  );
  filter: blur(100px);
  z-index: -1;
  pointer-events: none;
}

.dotted-svg {
  background-image: url("/worldmap.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  color: white;
}

.masked-text {
  color: transparent;
  background-image: url("https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 200%;
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.card {
  filter: grayscale(0); /* For modern browsers */
  -webkit-filter: grayscale(0); /* For older Safari */
  cursor: pointer;
}

.card:hover {
  filter: grayscale(100); /*  For modern browsers */
  -webkit-filter: grayscale(100); /*  For older Safari */
}

.collage-section-header h1 {
  /* overflow-y: hidden; */
}

